.cointeyner{
    max-width: 1200px;
    min-width: 420px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 300px);
    gap: 15px;
}
.item:nth-child(1){
    grid-column: 1/3;
    grid-row: 1/2;
}
.item:nth-child(3){
    grid-column: 1/2;
    grid-row: 2/4;
}
.item:nth-child(4){
    grid-column: 2/4;
    grid-row: 2/3;
}
.item:nth-child(6){
    grid-column: 3/4;
    grid-row: 3/5;
}
.item:nth-child(7){
    grid-column: 1/3;
    grid-row: 4/5;
}
.item:nth-child(9){
    grid-column: 2/4;
    grid-row: 5/6;
}
.item{
    background: red;
    display: flex;
    align-items: center;
    justify-content: center ;
    color: white;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-style: normal;
}